<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div align="center">
    <h1>Hello,User!</h1>
    <h1> Your Information </h1>
    <br>



    <table border="3">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Password</th>
            <th>Role</th>
        </tr>
        <tr  th:each="role : ${role}">
            <td><p th:text="${user.id}">ID</p></td>
            <td><p th:text="${user.name}">Name</p></td>
            <td><p th:text="${user.lastName}">Last name</p></td>
            <td><p th:text="${user.age}">Age</p></td>
            <td><p th:text="${user.password}">Password</p></td>
            <td><p th:text="${role.role}"></p></td>
        </tr>
    </table>
    <br>
    <form action="/logout">
        <input type="submit" value="LOGOUT"/>
    </form><br>
</div>
</body>
</html>